*{
   font-family: "Montserrat", sans-serif;
}
body{
    background-color: #130a05;
}
#capa{
    background: linear-gradient(90deg, #6f1d1bff, #bb9457ff, #ffe6a7ff, #99582aff, #432818ff);
    color: #130a05;
    text-shadow: 5px 4px 4px #130a0594;
    width: 1500px;
    height: 190px; 
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
    border-radius: 12px;
    text-align: center;
    line-height: 80px;
    font-size:x-large;
    letter-spacing: 15px;
}
#capa img{
    border-radius: 15px;
    position: absolute;
    top:26px;
    right: 88%;
}
#capa p{
    color: #130a05;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#barra{
    background-color: rgb(252, 214, 164);
    color: #130a05;
    width: 1500px;
    height: 100px; 
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -27%);
    border-radius: 12px;
    text-transform: uppercase;
}
#barrinha li a {
    position: absolute;
    top: 27%;
    left: 83%;
    transform: translate(-83%, -27%);
    font-size: large;
    font-weight: 400;
    font-weight: bold;
    letter-spacing: 2px; 
}
#barrinha:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 3px #130a0579;
    transition: 0.2s;
}

#conteudo{
    background-color: rgb(252, 214, 164);
    width: 1170px;
    height: 560px; 
    position: absolute;
    top: 95%;
    left: 26%;
    transform: translate(-26%, -95%);
    border-radius: 12px;
}

#conteudo p{
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 10px;
    font-size: 22px;
    line-height: 1.8;
}

#conteudo h2 {
    padding-top: 25px;
    padding-left: 70px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px #130a0579;
    font-size: 28px;
    font-weight: bold;
}


#links{
    background-color: #432818ff;
    color: #f5f5dc;
    font-size:large;
    width: 310px;
    height: 560px; 
    position: absolute;
    top: 95%;
    left: 88.2%;
    transform: translate(-88.2%, -95%);
    border-radius: 12px;
}

#links p {
    font-weight: bold;
    color: #f5f5dc;
    font-size:28px;
    padding: 20px;
    text-shadow: 3px 2px 4px #f5f5dc54;
    letter-spacing: 2px;

}
#links ul {
    font-size:large;
    font-style: italic;    
}

#links a:hover {
    text-shadow: 6px 3px 14px #f5f5dc;
    transition: 0.5s;
}


#rodape{
    background-color: rgba(252, 214, 164, 0.541);
    width: 1500px;
    height: 90px; 
    position: absolute;
    top: 112%;
    left: 50%;
    transform: translate(-50%,-112%);
    border-radius: 12px; 
}

#rodape p {
    color: #130a05; 
    text-align: center;
    padding: 10px;
}

#cor1 {
    color: #f5f5dc;
}

#cor2 {
    color: #f5f5dc;
}

#cor3 {
    color: #f5f5dc;
}

