body {
    background-color: rgb(78, 57, 28);

    color:rgb(204, 197, 162);
}
.first {
    border: 2px solid white;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;  
}
.second {
    border: 2px solid white;
    font-family: 'VT323', monospace;
    font-size: 20px;
    width: 450px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 35%;
}
#third {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    
}
#fourth {
    border: 2px solid white;
    position: fixed;
    top: 510px;
    left: 45%;
}
#fiveth {
    border: 2px solid white;
    position: relative;
    top: -20px;
    left: 35%;
    width:300;
    height:300
}
