*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 225, 191);
}
#logo{
    width: 95%;
    height: 4.5%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: start;
    font-family: "Rammetto One", sans-serif;
    font-style: normal;
}

#menu{
    background-color: rgba(236, 210, 177, 0.486);
    width: 95%;
    height: 7%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
#casa{
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: "Kanit", sans-serif;
}
#ap{
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: "Kanit", sans-serif;
}
#lote{
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: "Kanit", sans-serif;
}

.conteiner{
    background-color: rgb(252, 225, 191);
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 4%;
}


.box{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.box2{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box2:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.box3{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box3:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.box4{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box4:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.conteiner2{
    background-color: rgb(252, 225, 191);
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 4%;
}


.box5{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box5:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.box6{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box6:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.box7{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box7:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.box8{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease;
}
.box8:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.158)
}

.titulo {
    padding-top: 17px;
    font-weight: bold;
    font-size: 21px;
  }
  .preco {
    font-size: 26px;
    font-weight: bold;
  }
  .area {
    font-size: 16px;
  }
  .local {
    color: #666;
    font-size: 14px;
  }

#rodape{
    background-color: rgb(252, 225, 191);
    width: 95%;
    height: 16%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    gap: 4%;
}
#rodape2{
    background-color: rgb(252, 225, 191);
    width: 95%;
    height: 7%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:last baseline;
    gap: 4%;
    padding-bottom: 20px;
}
#rodape2 p{
    color: #666;
    font-size: 14px;
}