*{
   font-family: "Montserrat", sans-serif;
}
body{
    background-color: #130a05;
}
#capa{
    background: linear-gradient(90deg, #6f1d1bff, #bb9457ff, #ffe6a7ff, #99582aff, #432818ff);
    width: 1500px;
    height: 180px; 
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
    border-radius: 12px;
    text-align: center;
    line-height: 80px;
    font-size:x-large;
}
#capa img{
    border-radius: 15px;
    position: absolute;
    top:26px;
    right: 88%;
}
#capa p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#barra{
    background-color: rgb(252, 214, 164);
    color: #130a05;
    width: 1500px;
    height: 80px; 
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -27%);
    border-radius: 12px;
}
#d {
    position: absolute;
    top: 27%;
    left: 83%;
    transform: translate(-83%, -27%);
    font-size: large;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-weight: bold;
    text-decoration: underline;
}
#b {
    position: absolute;
    top: 27%;
    left: 60%;
    transform: translate(-60%, -27%);
    font-size: large;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-weight: bold;
    text-decoration: underline;
}
#c {
    position: absolute;
    top: 27%;
    left: 36%;
    transform: translate(-36%, -27%);
    font-size: large;
    
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-weight: bold;
    text-decoration: underline;
}
#a {
    position: absolute;
    top: 27%;
    left: 15%;
    transform: translate(-15%, -27%);
    font-size: large;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-weight: bold;
    text-decoration: underline;
}

#conteudo{
    background-color: rgb(252, 214, 164);
    width: 1160px;
    height: 400px; 
    position: absolute;
    top: 68%;
    left: 27%;
    transform: translate(-27%, -68%);
    border-radius: 12px;
}

#conteudo p{
    padding-left: 35px;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 22px;
    line-height: 1.8;
}

#links{
    background-color: #432818ff;
    color: #f5f5dc;
    font-size:large;
    width: 310px;
    height: 400px; 
    position: absolute;
    top: 68%;
    left: 88%;
    transform: translate(-88%, -68%);
    border-radius: 12px;
}

#links p {
    color: #f5f5dc;
    font-size:x-large;
    padding: 20px;
}
#links ul {
    font-size:large;
}


#rodape{
    background-color: rgba(252, 214, 164, 0.541);
    width: 1500px;
    height: 90px; 
    position: absolute;
    top: 95.5%;
    left: 50%;
    transform: translate(-50%,-95.5%);
    border-radius: 12px; 
}

#rodape p {
    color: #130a05; 
    text-align: center;
    padding: 10px;
}

#cor1 {
    color: #f5f5dc;
}

#cor2 {
    color: #f5f5dc;
}

#cor3 {
    color: #f5f5dc;
}

